<div class="col-md-6">
  <h2 class="text-center">Add Character</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="race">Race:</label>
      <input formControlName="race" placeholder="Race" name="race" class="form-control" id="race">
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input formControlName="age" placeholder="Age" name="age" class="form-control" id="laagestName">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
