<div class="container col-md-6">
  <h2> Demo UI</h2>

  <div class="container">
    <div class="row justify-content-between">
        <div class="col-2">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div class="col-2">
          <button class="btn btn-success" (click)="addCharacter()"> Add Character</button>
        </div>
    </div>
  </div>


  <table mat-table matSort matSortActive="id" matSortDisableClear matSortDirection="asc" class="demo-table mat-elevation-z8" [dataSource]="dataSource">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let character"> {{character.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let character"> {{character.name}} </td>
    </ng-container>

    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
      <td mat-cell *matCellDef="let character"> {{character.race}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
      <td mat-cell *matCellDef="let character"> {{character.age}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let character"> 
        <mat-icon (click)="editCharacter(character)" color="primary" class="pointer">edit</mat-icon>  
        <mat-icon (click)="deleteCharacter(character)" color="warn" class="pointer">delete</mat-icon> 
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
  </table>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 3, 5]">  </mat-paginator>


  
</div>